

body {
    margin: 0;
    height: 100vh;
    width: 100%;
}



.container {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:72vh;
    max-height: fit-content;
    align-content: center;
}