.note {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    margin: 70px;
    padding: 13px;
    width: 35em;
    height: 15em;
    border: #eaeaea 1px solid;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
  
    box-sizing: border-box;
  
  }
  
