.home {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 1rem;
    height:60vh;
    width:fit-content;

    h4 {
        font-size: 3rem;
        font-weight: bold;
        margin: 10px 15px;

        background: linear-gradient(-45deg, #6355a4, #6355a4, #e89a3e, #e89a3e);
	background-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 5vw;
	letter-spacing: -5px;
	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
    }

    &__links {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 2rem;
        a {
            margin: 10px 0;
            font-size: 1.2rem;
            font-weight: 600;
            text-decoration: none;
            border: 1px solid rgb(223, 223, 223);
            padding: 0.5rem 0.9rem;
            border-radius: 10px;
            color: black;

            &:hover {
                background-color: rgb(194, 194, 194);
                color: white;
            }
        }
    }
}

@keyframes animated_text {
    0% { background-position: 0px 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0px 50%; }
}