.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 60vh;
  width: fit-content;

  h4 {
    font-size: 4rem;
    font-weight: bold;
    margin: 10px 15px;

    background: linear-gradient(-45deg, #6355a4, #6355a4, #e89a3e, #e89a3e);
    background-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 5vw;
    letter-spacing: -3px;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
  }

  &__links {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: 0.8rem;

    a {
      margin: 0;
      padding: 7px 15px 0 15px;
    }

    &--signin {
      background-color: black;
      width: 20%;
      height: 40px;
      margin: 10px;
      font-size: 1.3rem;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      border: 1px solid rgb(223, 223, 223);
      padding: 0.5rem 0.9rem;
      border-radius: 10px;
      color: white;

      &:hover {
        background-color: rgb(194, 194, 194);
        color: white;
      }
    }

    &--signup {
      width: 20%;
      height: 40px;
      margin: 10px;
      font-size: 1.3rem;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      border: 1px solid rgb(223, 223, 223);
      padding: 0.5rem 0.9rem;
      border-radius: 10px;
      color: black;

      &:hover {
        background-color: rgb(194, 194, 194);
        color: white;
      }
    }
  }
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}


@media (min-width:320px)  { 

}
@media (min-width:480px)  { 

}
@media (min-width:600px)  { 
  .home {
    &__links {
      font-size: 5rem;
    }
  }
}
@media (min-width:801px)  { 

}