<div class="form-container" *ngIf="this.signupForm">
  <h2 class="form-container__title">Join the best</h2>
  <h2 class="form-container__title2">notes app</h2>
  <form [formGroup]="signupForm" (ngSubmit)="signupUser()">
    <div class="form-container__group">
      <input
        type="text"
        class="form-container__input"
        formControlName="name"
        placeholder="Name"
        required
      />
    </div>
    <div class="form-container__group">
      <input
        type="email"
        class="form-container__input"
        formControlName="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="form-container__group">
      <input
        type="password"
        class="form-container__input"
        formControlName="password"
        placeholder="Password"
        required
      />
    </div>
    <button type="submit" class="btn-signup">Sign up</button>
  </form>
</div>
