<div class="form-container" *ngIf="this.signupForm"> 
    <h2 class="form-container__title">Sign Up</h2>
     <form [formGroup]="signupForm" (ngSubmit)="signupUser()"> 
         <div class="form-container__group"> 
             <label>Name</label> 
             <input type="text" class="form-container__input" formControlName="name" placeholder="John" required> 
         </div> 
         <div class="form-container__group"> 
             <label>Email</label> 
             <input type="email" class="form-container__input" formControlName="email" placeholder="John@example.com" required>  
         </div> 
         <div class="form-container__group"> 
             <label>Password</label> 
             <input type="password" class="form-container__input" formControlName="password" placeholder="Something secret" required>  
         </div> 
         <div class="form-container__group"> 
             <label>Emoji</label> 
             <input type="text" class="form-container__input" formControlName="emoji" placeholder="Write your emoji" required> 
         </div> 
         <button type="submit" class="btn-signup">Sign up</button> 
     </form> 
 </div>