.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 8px;
    background-color: white;
    border-bottom: #f1f1f1 1px solid;
  
    &__brand {
      display: flex;
      justify-content: center;
      flex: 0.2;
      font-weight: bold;
      font-size: 22px;
      margin: 0px;
    }
  
    // &__icon {
    // color: white;
    // margin: 16px;
    // }
  
    &__nav {
      display: flex;
      justify-content: center;
      flex: 1.4;
  
      font-weight: bold;
      font-size: 22px;
  
      margin: 0 80px;
    }
  
    &__link {
      margin-right: 70px;
      cursor: pointer;
      text-decoration: none;
      color: #303030;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }