.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 60vh;
  width: 100vw;

  &__title {

    align-self: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__group {
    margin: 5px 0;
  }
  &__input {

    // margin: 10px;
    width: 130%;
    height: 45px;
    border-radius: 5px;
  }

  form {
      width: 200px;
  }
}

.btn-signin {
    width: 105%;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #705C9A;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;

    &:hover {
        background-color: #E89A3E;
        color: white;
        cursor: pointer;
    }

}
