<div class="form-container" *ngIf="signinForm">
    <h2 class="form-container__title">Sign In to Noted</h2>
    <form [formGroup]="signinForm" (submit)="signinUser()" >
        <div class="form-container__group"> 
          
            <input type="email" class="form-container__input" placeholder="Email adress" formControlName="email" required>
        </div>
        <div class="form-container__group">
       
            <input type="password" class="form-container__input" placeholder="Password" formControlName="password" required>
        </div>
        <button type="submit" class="btn-signin">Sign In</button>
    </form>
</div>