
<div *ngIf="note" class="note">
  <div class="note__info">
    <h3 class="note__title">{{ note.title }}</h3>
    <p class="note__description">{{ note.description }}</p>
    <p class="note__date">{{ note.date }}</p>
    <!-- <a class="product__el product__more-info" [routerLink]="['/list', product.id]">Show more info</a> -->
  </div>
  <div class="note__buttons">
    <a
      class="note__button note__button--showmore"
      [routerLink]="['/list', note._id]"
      >Show more
    </a>
    <button class="note__button note__button--delete"
    (click)="deleteNote()"
    >Delete</button>
    <button class="note__button note__button--edit"
    (click)="editNote()"
    >Edit</button>
  </div>
</div>


